PLANKA_PORT=3000
BASE_URL=http://localhost:3000

SECRET_KEY=change-me-to-a-random-64-char-string

ADMIN_EMAIL=admin@local.dev
ADMIN_PASSWORD=changeme
ADMIN_NAME=Admin
ADMIN_USERNAME=admin

POSTGRES_DB=planka
POSTGRES_USER=planka
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
